In [1]:
import openpyxl

In [10]:
work_book  = openpyxl.load_workbook('datasets/company_revenue.xlsx')

In [11]:
work_book.sheetnames

['Revenue']

In [12]:
sheet_obj  = work_book['Revenue']

In [13]:
sheet_obj.title

'Revenue'

In [21]:
sheet_obj['A1']

In [22]:
sheet_obj['A1'].value

'Company'

In [23]:
cell = sheet_obj['B1']

In [24]:
type(cell)

openpyxl.cell.cell.Cell

In [25]:
dir(cell)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__slots__',
 '__str__',
 '__subclasshook__',
 '_bind_value',
 '_comment',
 '_hyperlink',
 '_style',
 '_value',
 'alignment',
 'base_date',
 'border',
 'check_error',
 'check_string',
 'col_idx',
 'column',
 'column_letter',
 'comment',
 'coordinate',
 'data_type',
 'encoding',
 'fill',
 'font',
 'guess_types',
 'has_style',
 'hyperlink',
 'internal_value',
 'is_date',
 'number_format',
 'offset',
 'parent',
 'pivotButton',
 'protection',
 'quotePrefix',
 'row',
 'style',
 'style_id',
 'value']

In [26]:
cell.row

1

In [27]:
cell.column

2

In [30]:
#The colums and rows start in 1 (one)

#The Comlums and rows start in one

#The Colums and rows start in onw

# This is a Mark up
## with other size

In [31]:
cell.value

'Country'

In [33]:
sheet_obj['A2'].value + \
', based in ' + sheet_obj['B2'].value + \
' has a arevenue of $ ' + str(sheet_obj['C2'].value) + \
' billion'

'Walmart, based in United States has a arevenue of $ 514 billion'

In [34]:
sheet_obj.cell(row=1, column=2)

In [35]:
sheet_obj.cell(row=1, column=2).value

'Country'

In [37]:
sheet_obj.max_row

11

In [38]:
sheet_obj.max_column

3

In [40]:
max_col = sheet_obj.max_column

for i in range(1,max_col + 1):
    cell_obj = sheet_obj.cell(row=1, column=i)
    print(cell_obj.value)

Company
Country
Revenue (billons $)

In [41]:
max_row = sheet_obj.max_row

for i in range(1,max_row + 1):
    cell_obj = sheet_obj.cell(row=i, column=1)
    print(cell_obj.value)

Company
Walmart
Sinopect Group
Royal Dutch Shell
China National Petroleum
State Grid
Saudi Aramco
BP
Exxon Mobil
Volkswagen
Toyota Motors

In [46]:
for i in range(1,max_col + 1):
    for j in range(1,max_row + 1):
        cell_obj = sheet_obj.cell(row=j, column=i)
        print(cell_obj.value)
    print('*'*5)

Company
Walmart
Sinopect Group
Royal Dutch Shell
China National Petroleum
State Grid
Saudi Aramco
BP
Exxon Mobil
Volkswagen
Toyota Motors
*****
Country
United States
China
Netherlans
China
China
Saudi Arabia
United Kingdom
United States
Germany
Japan
*****
Revenue (billons $)
514
415
397
393
400
356
103
290
287
273
*****

In [48]:
obj_cells = sheet_obj['A1':'C2']

In [51]:
for rows in sheet_obj['A1':'C2']:
    
    for cell in rows:
        
        print(cell.coordinate, cell.value)
        
    print('-'*15)

A1 Company
B1 Country
C1 Revenue (billons $)
---------------
A2 Walmart
B2 United States
C2 514
---------------